<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>This is a form example</h3>
    <form class="" action="{{url_for('process')}}" method="get">
      <label for="fname">First Name</label>
      <input type="text" name="fname" value="Ram"> <br>
      <label for="mname">Middle Name</label>
      <input type="text" name="mname" value="Gopal"> <br>
      <label for="lname">Last Name</label>
      <input type="text" name="lname" value="Verma"> <br>

      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
